@charset"utf-8";
/*CSS Document*/

body{
	   padding:0;
	   margin:0;
       }
.content{
	    width:1000px;
		background:red;
		margin:0  auto;
        }
.header{
	    height:100px;
		width:100%;	
		background:#DFDFDF;
        }
.header img{
	   float:left;
       }
.quickLinks{
	    width:30%;
		height:100px;
		margin-top:32px;
		float:right;
		text-align:center;
        }
.quickLinks a{
	    display:inline-block;
		width:60px;
		height:36px;
		border:1px #1176DB solid;
		color:#1176DB;
		text-decoration:none;
		font-size:12px;
		line-height:36px;
        }
.quickLinks a:hover{
	box-shadow:0 0 10px #98CCFC;
}
		